.container {
  margin: 20px;
  display: grid;
  height: 500px;
  /* grid-template-columns: 200px 5rem 20% auto; */
  grid-template-columns: repeat(8, 25%);

  grid-template-rows: repeat (8, 25%);
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 0;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 8;
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 8;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: ;
}
