section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(26, 131, 31, 0.897);
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.5;
}
